.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media print {
  .PageBreak { page-break-before: always; }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



@media all {
  .pagebreak {
    display: none;
  }
}

@media print {
  @page {
    size: landscape;
  }
}
@media print {
  html,
  body {
    height: initial !important;
    overflow: initial !important;
    background-color: white !important;
    -webkit-print-color-adjust: exact;
  }
  .ant-layout-header,
  .ant-card-head {
    display: none !important;
  }
  .ant-layout-content {padding:0 !important;margin:0 !important;}
  .ant-card-bordered { border:0 !important;}
  .ant-col { word-break: break-all !important; page-break-after: avoid !important; }
}
@page {
  size: auto;
  margin: 15mm 10mm;
}